version: '3'

services:
  react:
    container_name: itss-react
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - '3000:3000'
    # command: 'yarn start'