.App{
  background-color: lightblue;
}

.App-link {
  color: #61dafb;
}

.App-grid-container {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  padding-top: 100px;
  padding-left: 50px;
}

.App-grid-item {
  padding: 10px;
}

.App-profile {
  padding-top: 20px;
  padding-left: 900px;
}
.Feeds-grid-container {
  background-color: lightblue;
  display: grid;
  max-width: 150px;
  grid-template-columns: 200px;
  position: fixed;
  top: 155px;
  left: 1050px;
  border: 1px solid lightblue;
  /* padding-top: 10px;
  padding-left: 1050px;
  padding-bottom: 0px; */
}