.App {
  background-color: lightblue;
}

.App-link {
  color: #61dafb;
}

.App-grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  padding-top: 2.5%;
  padding-left: 5%;
}

.App-grid-item {
  padding: 10px;
}

.App-profile {
  padding-top: 2.5%;
  padding-left: 68%;
}
.Feeds-grid-container {
  background-color: lightblue;
  display: grid;
  /*max-width: 150px;*/
  grid-template-columns: 200px;
  position: fixed;
  top: 155px;
  left: 83%;
  border: 1px solid lightblue;
  /* padding-top: 10px;
  padding-left: 1050px;
  padding-bottom: 0px; */
}

.App-search-bar {
  padding-left: 5%;
  width: 20%;
}
